.works-container {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-top: 1%
}

#ab-works {
    text-decoration: underline;
}

.works-abstract-container {
    display: flex;
    flex-direction: row;
}

.works-cairoab img {
    max-width: 50%;
    max-height: 50%;
    cursor: pointer;
}

#ab-click {
    cursor: pointer;
}