.works-container {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}

#ab-works {
    text-decoration: underline;
}

.works-abstract-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.works-cairoab {
    flex-basis: 33%;
}

.works-cairoab img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

#ab-click {
    cursor: pointer;
}

.works-powerstr {
    flex-basis: 33%;
    margin-left: 15px;
}

.works-powerstr img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}